.b03-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.b03-overview {
  text-decoration: none;
}
.b03-my-workspace {
  text-decoration: none;
}
.b03-assets {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b03-assets-text {
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.b03-marketing {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b03-marketing-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b03-advertising {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b03-advertising-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b03-sales {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b03-sales-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b03-project {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b03-project-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b03-customer-service {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b03-cs-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b03-human-resource {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b03-hr-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b03-learn-help {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b03-lh-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b03-reports {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b03-reports-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b03-settings {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b03-settings-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
