.b0508-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.b0508-marketing {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
}
.b0508-side-menu {
  height: auto;
  position: relative;
}
.b0508-logo {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.b0508-image {
  width: 184.8px;
  height: 95.2px;
  object-fit: cover;
}
.b0508-overview {
  text-decoration: none;
}
.b0508-my-workspace {
  text-decoration: none;
}
.b0508-calendar {
  text-decoration: none;
}
.b0508-calendar-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0508-assets-cont {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0508-assets-text {
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.b0508-marketing-overview {
  display: flex;
  align-self: stretch;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
.b0508-marketing1 {
  margin-top: 0px;
  background-color: #D9D9D9;
}
.b0508-marketing-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-icon05 {
  width: 24px;
  height: 24px;
}
.b0508-navlink04 {
  display: contents;
}
.b0508-marketing-a {
  text-decoration: none;
}
.b0508-marketing-website {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-navlink05 {
  display: contents;
}
.b0508-marketing-b {
  text-decoration: none;
}
.b0508-marketing-ct {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-navlink06 {
  display: contents;
}
.b0508-marketing-c {
  transition: 0.3s;
  text-decoration: none;
}
.b0508-marketing-c:hover {
  background-color: #d9d9d9;
}
.b0508-marketing-icon-c {
  fill: rgba(0, 0, 0, 0.7);
}
.b0508-marketing-website1 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-navlink07 {
  display: contents;
}
.b0508-marketing-d {
  text-decoration: none;
}
.b0508-marketing-website2 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-navlink08 {
  display: contents;
}
.b0508-marketing-e {
  text-decoration: none;
}
.b0508-marketing-website3 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-navlink09 {
  display: contents;
}
.b0508-marketing-f {
  text-decoration: none;
}
.b0508-marketing-website4 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-navlink10 {
  display: contents;
}
.b0508-marketing-g {
  text-decoration: none;
}
.b0508-marketing-website5 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-marketing-h {
  background-color: transparent;
  background-image: linear-gradient(315deg, rgba(102, 16, 242, 0.7) 0.00%,rgb(102, 16, 242) 100.00%);
}
.b0508-marketing-icon-b1 {
  fill: var(--dl-color-icon_color-white);
  margin-top: 0px;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.b0508-marketing-ct1 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-navlink11 {
  display: contents;
}
.b0508-marketing-i {
  text-decoration: none;
}
.b0508-marketing-website6 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-navlink12 {
  display: contents;
}
.b0508-marketing-j {
  text-decoration: none;
}
.b0508-marketing-website7 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-navlink13 {
  display: contents;
}
.b0508-marketing-k {
  text-decoration: none;
}
.b0508-marketing-website8 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-advertising {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0508-advertising-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-sales {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0508-sales-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0508-project {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0508-project-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0508-customer-service {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0508-cs-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0508-human-resource {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0508-hr-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0508-learn-help {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0508-lh-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0508-reports {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0508-reports-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0508-settings {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0508-settings-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
@media(max-width: 1600px) {
  .b0508-side-menu {
    width: 18%;
  }
}
@media(max-width: 1200px) {
  .b0508-side-menu {
    width: 20%;
  }
}
