.b0607-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.b0607-advertising-a {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
}
.b0607-logo {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.b0607-image {
  width: 184.8px;
  height: 95.2px;
  object-fit: cover;
}
.b0607-overview {
  text-decoration: none;
}
.b0607-my-workspace {
  text-decoration: none;
}
.b0607-calendar-cont {
  text-decoration: none;
}
.b0607-calendar-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0607-assets-cont {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0607-assets-text {
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.b0607-marketing-cont {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0607-marketing-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-advertising {
  margin: 0px;
  display: flex;
  padding: 0px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.b0607-advertising1 {
  gap: 0px;
  display: flex;
  align-self: stretch;
  margin-top: 0px;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  background-color: #D9D9D9;
}

.b0607-advertising-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-icon07 {
  width: 24px;
  height: 24px;
}
.b0607-navlink05 {
  display: contents;
}
.b0607-ads-overview {
  text-decoration: none;
}
.b0607-marketing-website {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-navlink06 {
  display: contents;
}
.b0607-ads-ct {
  text-decoration: none;
}
.b0607-marketing-ct {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-navlink07 {
  display: contents;
}
.b0607-ads-sem {
  transition: 0.3s;
  text-decoration: none;
}
.b0607-ads-sem:hover {
  background-color: #d9d9d9;
}
.b0607-marketing-icon-c {
  fill: rgba(0, 0, 0, 0.7);
}
.b0607-marketing-website1 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-navlink08 {
  display: contents;
}
.b0607-ads-smm {
  text-decoration: none;
}
.b0607-marketing-website2 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-navlink09 {
  display: contents;
}
.b0607-ads-display {
  text-decoration: none;
}
.b0607-marketing-website3 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-navlink10 {
  display: contents;
}
.b0607-ads-mail {
  text-decoration: none;
}
.b0607-marketing-website4 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-ads-native {
  background-color: transparent;
  background-image: linear-gradient(315deg, rgba(102, 16, 242, 0.7) 0.00%,rgb(102, 16, 242) 100.00%);
}
.b0607-marketing-icon-b1 {
  fill: var(--dl-color-icon_color-white);
  margin-top: 0px;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.b0607-marketing-ct1 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-navlink11 {
  display: contents;
}
.b0607-ads-influencer {
  text-decoration: none;
}
.b0607-marketing-website5 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-navlink12 {
  display: contents;
}
.b0607-ads-others {
  text-decoration: none;
}
.b0607-marketing-website6 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-navlink13 {
  display: contents;
}
.b0607-ads-settings {
  text-decoration: none;
}
.b0607-marketing-website7 {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-sales-cont {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0607-sales-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0607-project-cont {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0607-project-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0607-cs-cont {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0607-cs-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0607-hr-cont {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0607-hr-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500px;
  line-height: 22px;
  font-stretch: normal;
  letter-spacing: 0px;
}
.b0607-learn-help {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0607-lh-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0607-reports-cont {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0607-reports-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
.b0607-settings {
  gap: 0px;
  display: flex;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  justify-content: flex-start;
  text-decoration: none;
}

.b0607-settings-text {
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400px;
  line-height: 22px;
  letter-spacing: 0px;
}
